.result-bg-container {
  width: 100%;
  padding: 20px 30px 50px;
  background-color: #fafbfe;
  min-height: 85vh;
}

.result-bg-container,
.result-view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.result-view {
  min-width: 312px;
  min-height: 458px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 16px 0 rgba(123, 135, 148, 0.1607843137254902);
  box-shadow: 0 4px 16px 0 rgba(123, 135, 148, 0.1607843137254902);
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}

.submit-img {
  width: 230px;
  height: 170px;
}

.display-none,
.time-img {
  display: none;
}

.congrats-heading {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #475569;
}

.time-taken-txt {
  font-size: 14px;
  letter-spacing: 0.20000000298023224px;
  color: #334155;
  margin-right: 10px;
}

.time-taken,
.time-taken-txt {
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  display: inline;
}

.time-taken {
  font-size: 16px;
  color: #164687;
}

.your-score-container {
  margin-top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.your-score-txt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #164687;
}

.your-score {
  font-family: Inter;
  font-size: 32px;
  line-height: 48px;
  color: #044682;
  margin-left: 8px;
}

.reattempt-btn,
.your-score {
  font-weight: 700;
  text-align: center;
}

.reattempt-btn {
  min-width: 120px;
  min-height: 40px;
  padding: 8px 32px;
  grid-gap: 0;
  gap: 0;
  border-radius: 4px;
  background-color: #164687;
  font-family: HK Grotesk;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  border: none;
  margin-bottom: 10px;
  margin-top: 5px;
}
.time-up {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #475569;
}

.not-cmpt,
.time-up {
  font-family: Roboto;
  text-align: center;
}

.not-cmpt {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #64748b;
  margin-top: 0;
}

.time-taken-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -20px;
}

@media screen and (min-width: 768px) {
  .submit-img {
    min-width: 485px;
    min-height: 364px;
  }

  .result-view {
    min-width: 818px;
    min-height: 697px;
    margin-top: 20px;
  }

  .congrats-heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  .time-taken-txt {
    font-size: 18px;
  }

  .time-taken {
    line-height: 32px;
  }

  .time-taken,
  .your-score-txt {
    font-size: 24px;
  }

  .your-score {
    font-size: 48px;
  }

  .reattempt-btn {
    min-width: 130px;
    min-height: 40px;
    font-size: 14px;
  }

  .time-up {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    color: #334155;
  }

  .not-cmpt {
    font-size: 16px;
    line-height: 24px;
  }
}
