.timer-question-view-container {
  -ms-flex-direction: column;
  flex-direction: column;
}

.timer-container,
.timer-question-view-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.timer-container {
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 45px;
  background-color: #475987;
  grid-gap: 0;
  gap: 0;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

.time-left-txt {
  font-size: 16px;
  font-weight: 400;
}

.time-left-txt,
.timer {
  font-family: Roboto;
  line-height: 24px;
  text-align: left;
  color: #f8fafc;
}

.timer {
  font-size: 18px;
  font-weight: 500;
}
.question-view-container {
  width: 100%;
  min-height: 394px;
  grid-gap: 0;
  gap: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px 0 rgba(218, 228, 250, 0.5019607843137255);
  box-shadow: 0 0 15px 0 rgba(218, 228, 250, 0.5019607843137255);
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.loader-container {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.dis-no {
  display: none;
}

.question-view,
.question-view2 {
  padding: 10px 15px 2px;
}

.answered-count,
.count-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.answered-count {
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  background-color: #7c599f;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  border-radius: 50px;
  margin-right: 10px;
}

.answered-count,
.answered-count-txt {
  font-family: Roboto;
  font-weight: 400;
  text-align: left;
}

.answered-count-txt {
  font-size: 14px;
  line-height: 20px;
  color: #496387;
}

.count-container-unanswered {
  border: 1px solid #cbd5e1;
  background-color: #fff;
  color: #64748b;
}

.unanswered-container {
  margin-top: -20px;
}

.hr-question-line {
  width: 100%;
  height: 0;
  border: 1px solid #e2e8f0;
}

.question-len {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #164687;
  margin-top: 0;
}

.question-list-container {
  list-style-type: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.question-btn {
  min-width: 32px;
  min-height: 32px;
  padding: 6px 0;
  grid-gap: 0;
  gap: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #64748b;
  background-color: #fafbfe;
  border: 1px solid #e2e8f0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.submit-assessment-btn {
  width: 100%;
  min-height: 48px;
  grid-gap: 0;
  gap: 0;
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #164687;
  background-color: transparent;
  border: 1px solid #263868;
  border-radius: 4px;
  margin-top: 22px;
}

.answered-one {
  border: 1px solid #7c599f;
  background-color: rgba(124, 89, 159, 0.14901960784313725);
}

.current-one {
  border: 1px solid #60a5fa;
  background-color: #eff6ff;
}

@media screen and (min-width: 768px) {
  .timer-question-view-container {
    -ms-flex-order: 1;
    order: 1;
    min-height: 400px;
    width: 30%;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  .timer-container {
    width: 100%;
    height: 53px;
  }

  .question-view-container {
    width: 100%;
    max-height: 777px;
    padding-bottom: 15px;
  }

  .question-view {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }

  .unanswered-container {
    margin-top: 0;
  }

  .submit-assessment-btn {
    margin-top: 130px;
    margin-bottom: 19px;
  }

  .time-left-txt {
    font-size: 18px;
    line-height: 30px;
  }

  .timer {
    font-size: 24px;
    line-height: 32px;
  }

  .answered-count {
    max-width: 34px;
    max-height: 34px;
  }

  .answered-one {
    border: 1px solid #7c599f;
    background-color: rgba(124, 89, 159, 0.14901960784313725);
  }

  .current-one {
    border: 1px solid #60a5fa;
    background-color: #eff6ff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .timer-question-view-container {
    width: 40%;
  }

  .question-view-container,
  .timer-container {
    width: 100%;
  }

  .time-left-txt {
    font-size: 16px;
  }

  .timer {
    font-size: 22px;
  }
}
