.nav-header {
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 100vw;
  min-height: 57px;
  background-color: #263868;
}

.logo-container,
.nav-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.logo-container {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 98px;
  min-width: 75px;
  max-height: 55.67px;
  min-height: 71px;
}

.header-logo {
  width: 60px;
  height: 45px;
  padding-top: 16px;
}

.nxt-head {
  font-weight: 700;
  color: #fff;
  margin-top: 0;
  line-height: 16.88px;
}

.assess,
.nxt-head {
  font-family: Futura Md BT;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.assess {
  font-weight: 400;
  line-height: 16.81px;
}

.logout-btn {
  width: 70px;
  height: 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #f1f5f9;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #f1f5f9;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .nav-header {
    max-width: 100vw;
    min-height: 88px;
  }

  .header-logo {
    min-width: 77px;
    min-height: 58px;
  }

  .logo-container {
    min-width: 98px;
    min-height: 71px;
  }

  .assess,
  .nxt-head {
    font-size: 18px;
  }

  .logout-btn {
    width: 86px;
    height: 40px;
    font-size: 14px;
  }
}
