.login-container {
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-container,
.login-home-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.login-home-container {
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 360px;
  min-height: 468px;
  border-radius: 8px;
  padding: 40px 20px;
}

.logo {
  min-width: 98px;
  min-height: 56px;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 20px;
}

.input-field-container {
  min-height: 64px;
  top: 238px;
  left: 24px;
  min-width: 312px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.username {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #7e858e;
}

.text-field {
  height: 40px;
  border-radius: 2px;
  border: 1px solid #d7dfe9;
  outline: none;
  padding-left: 15px;
  width: 312px;
  top: 24px;
  grid-gap: 0;
  gap: 0;
}

.checkbox-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 24px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 16px;
  padding-right: 20px;
  margin-top: 6px;
}

.checkbox-field {
  width: 16px;
  height: 16px;
}

.checkbox-txt {
  width: 100%;
  height: 24px;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
  margin-left: 3px;
}

.login-btn {
  height: 40px;
  border-radius: 8px;
  background-color: #263868;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: none;
  margin-top: 50px;
}

.err-msg,
.login-btn {
  min-width: 312px;
  font-family: Roboto;
  font-size: 14px;
}

.err-msg {
  font-weight: 400;
  margin-top: 5px;
  line-height: 16.41px;
  color: #ef4444;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .login-home-container {
    -webkit-box-shadow: 0 4px 16px 0 rgba(123, 135, 148, 0.1607843137254902);
    box-shadow: 0 4px 16px 0 rgba(123, 135, 148, 0.1607843137254902);
    width: 456px;
    height: 468px;
    top: 278px;
    left: 492px;
    grid-gap: 0;
    gap: 0;
    border-radius: 8px;
  }

  .input-field-container {
    width: 360px;
    height: 64px;
    top: 430px;
    left: 540px;
    padding-left: 0;
    padding-right: 0;
  }

  .text-field {
    width: 360px;
    height: 40px;
    top: 24px;
    grid-gap: 0;
    gap: 0;
    border-radius: 2px 0 0 0;
    border: 1px 0 0;
  }

  .checkbox-container {
    width: 100%;
    height: 24px;
    top: 586px;
    left: 540px;
    padding: 0 5px 0 0;
    grid-gap: 0;
    gap: 0;
    margin-left: 24px;
  }

  .login-btn {
    min-width: 360px;
    min-height: 40px;
    grid-gap: 0;
    gap: 0;
    border-radius: 8px;
  }

  .err-msg {
    margin-top: 8px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 28px;
  }
}
