.assessment-container {
  min-height: 100%;
  width: 100%;
}

.question-container {
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 20px 30px 50px;
  background-color: #fafbfe;
}

.loader-container,
.question-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader-container {
  height: 85vh;
  width: 100vw;
}

.err-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.failure-img {
  width: 328px;
  height: 177px;
  top: 180px;
  left: 16px;
  grid-gap: 0;
  gap: 0;
}

.failure-head {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #475569;
}

.failure-head,
.failure-txt {
  font-family: Roboto;
  line-height: 24px;
}

.failure-txt {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #64748b;
}

.retry-btn {
  width: 93px;
  height: 40px;
  top: 469px;
  left: 134px;
  padding: 8px 32px;
  grid-gap: 0;
  gap: 0;
  border-radius: 4px;
  background-color: #164687;
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .question-container {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 20px 30px 30px;
  }

  .failure-img {
    width: 677px;
    height: 364px;
    top: 211px;
    left: 382px;
  }

  .failure-head {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
  }

  .failure-txt {
    font-size: 16px;
  }

  .retry-btn {
    width: 93px;
    height: 40px;
    top: 739px;
    left: 674px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .question-container {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 30px30px 30px;
  }
}
